<!DOCTYPE html>
<html ng-app="trempApp" lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="media_screen.css">
		<link rel="stylesheet" type="text/css" href="search-tremps-style.css">
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>פרויקט סיום</title>
		<meta name="description" content="">
		<meta name="author" content="timor">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<style>
			#search {
				background-color: #bbff84;
			}
		</style>
	</head>

	<body>
		<div>
			<header>
				<a href="index.html"><img id="rideme" src="logo.png" ></a>
			</header>
			<nav>

				<ul>
					<li id="search">
						<a href="search.html"> חיפוש טרמפים </a><img class="car" src="car.png">
					</li>
					<li id="adv">
						<a href="adv.html"> פרסום טרמפים </a><img class="car" src="car.png">
					</li>
					<li id="contact">
						<a href="contact.html"> צור קשר </a><img class="car" src="car.png">
					</li>
				</ul>

			</nav>
			<div ng-controller="trempConroller">
				<form class="search-adv-form"><img src="car.png">

					<div>
						<label>מוצא:</label>
						<select ng-model="src">
							<option >אופקים</option>
							<option>באר שבע</option>
							<option>תל אביב</option>
							<option>אופקים</option>
							<option>אילת</option>
						</select>
					</div>

					<div>
						<label>יעד:</label>
						<select ng-model="dest">
							<option value="">אופקים</option>
							<option>באר שבע</option>
							<option>תל אביב</option>
							<option>אופקים</option>
							<option>אילת</option>
						</select>
					</div>

					<div id="date" >
						<div>
							<label>תאריך:</label>
							<input type="date" ng-model="date">
						</div>
						<div>
							<label> שעה:</label>
							<input type="time" ng-model="time">
						</div>
					</div>

					<div>
						<label>השתתפות:</label>

						<input type="number" min="0" max="120">
						₪

						<input type="radio" name="gas">
						<span>ללא</span>
					</div>

					<div id="button">
						<input type="button" value="חפש">
					</div>

				</form>

				<div id="tremps" ng-repeat="x in tremps | filter: src | filter: dest">
					<span >{{x.src}}</span>
					<span> {{x.dest}}</span>
					<span ng-model="date">{{x.date}}</span>
					<span ng-model="time">{{x.time}}</span>
				</div>

			</div>
			<footer>
				<a href="about.html">About RideWith</a>
			</footer>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script>
			var app = angular.module("trempApp", []);

			app.controller("trempConroller", function($scope, $http) {
				$scope.tremps = [{
					"src" : "תל אביב",
					"dest" : "באר שבע",
					"date" : "18/11",
					"time" : "13:00"
				}, {
					"src" : "אופקים",
					"dest" : "תל אביב",
					"date" : "15/11",
					"time" : "18:00"
				}, {
					"src" : "אילת",
					"dest" : "באר שבע",
					"date" : "15/11",
					"time" : "18:00"
				}];

			});

		</script>
	</body>
</html>