<!DOCTYPE html>
<html ng-app="trempApp" lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="media_screen.css">
		<link rel="stylesheet" type="text/css" href="search-tremps-style.css">
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>פרויקט סיום</title>
		<meta name="description" content="">
		<meta name="author" content="timor">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<style>
			#search {
				background-color: #bbff84;
			}
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
				display: none !important;
			}
		</style>
	</head>

	<body>
		<div>
			<header>
				<a href="index.html"><img id="rideme" src="logo2.png" ></a>
			</header>
			<nav>

				<ul>
					<li id="search">
						<a href="search.html"> חיפוש טרמפים </a><img class="car" src="car.png">
					</li>
					<li id="adv">
						<a href="adv.html"> פרסום טרמפים </a><img class="car" src="car.png">
					</li>
					<li id="contact">
						<a href="contact.html"> צור קשר </a><img class="car" src="car.png">
					</li>
				</ul>

			</nav>

			<!--controller------------------------------------------------------------------------------->

			<div ng-controller="trempController">
				<form class="search-adv-form"><img src="car.png">

					<div>
						<label>מוצא:</label>
						<select id="src" ng-model="query.src" ng-click="checkNoTremps()">

							<option>אופקים</option>
							<option>באר שבע</option>
							<option>תל אביב</option>
							<option>אופקים</option>
							<option>אילת</option>
						</select>
					</div>

					<div>
						<label>יעד:</label>
						<select ng-model="query.dest" ng-click="checkNoTremps()">
							<option >אופקים</option>
							<option>באר שבע</option>
							<option>תל אביב</option>
							<option>אופקים</option>
							<option>אילת</option>
						</select>
					</div>

					<div id="date&time" >
						<div>
							<label>תאריך:</label>
							<input type="date" id="date" ng-model="query.date" >
						</div>
						<div>
							<label> שעה:</label>
							<input id="time" type="time" ng-model="query.time">

						</div>
					</div>

					<div>
						<label>השתתפות:</label>

						<input type="number" min="0" max="120" value="{{x.payment}}" ng-model="query.payment" >
						₪

						<input type="radio" name="gas" ng-value=0 ng-model="query.payment">
						<span>ללא</span>
					</div>

				</form>

				<div id="results" style="display: none" ng-cloak></div>

				<div id="results2" ng-cloak>
					<span id="length2">{{filtered.length}}</span> טרמפים במאגר
				</div>
				<!-----------------------ניסוי      טבלה     בצורה      שונה----------------------
				<div id="big-div-table">
					<div id="head">
						<div>
							מוצא:
						</div>
						<div>
							יעד:
						</div>
						<div>
							תאריך:
						</div>
						<div>
							שעה:
						</div>
						<div>
							השתתפות:
						</div>

					</div>
					<div id="divtremp" ng-repeat="x in filtered = (tremps | filter: query :true)">

						<div ng-cloak>
							{{x.src}}
						</div>
						<div ng-cloak>
							{{x.dest}}
						</div>
						<div ng-cloak>
							{{x.date}}
						</div>
						<div ng-cloak>
							{{x.time}}
						</div>
						<div ng-cloak>
							{{x.payment}} ₪
						</div>

						<div class="td-contact" id="td" onclick="openTddiv()" ng-cloak><img id="downarrow" src="arrowdown.png">
						</div>
						<div id="open" style="display: none" ng-cloak>
							{{x.driver}}
						</div>
					</div>

				</div>
				<!----------------------------------------------------------------------------------------->
				<table id="table" >
					<tr>
						<th>מוצא:</th>
						<th>יעד:</th>
						<th>תאריך:</th>
						<th>שעה:</th>
						<th>השתתפות:</th>
						<th>שם:</th>
						<th></th>
					</tr>
					<tr id={{x.id}} ng-click="openTd(x.id)"  class="repeat" ng-repeat="x in filtered = (tremps | filter: query :true)">

						<td ng-cloak>{{x.src}}</td>
						<td ng-cloak>{{x.dest}}</td>
						<td ng-cloak>{{x.date}}</td>
						<td ng-cloak>{{x.time}}</td>
						<td ng-cloak>{{x.payment}} ₪</td>
						<td ng-cloak>{{x.driver}}</td>
						<td ng-cloak><img id="downarrow" src="arrowdown.png"/></td>

					</tr>
				</table>

			</div>
			<footer>
				<a href="about.html">About RideWith</a>

			</footer>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="myscript.js"></script>
	</body>
</html>