body {
	background-color: #b1b6ff;
	direction: rtl;
	text-align: center;
	font-family: Arial;
}
* {

	padding: 0px;
	margin: 0px;
}
#container {
	width: 100%;
	height: 100%;
	position: relative;
}

#rideme {
	margin-top: 1.5em;
	margin-bottom: 0em;
	width: 30%;
	border-bottom: 0.3em solid #b1b6ff;
}

#rideme:hover {
	border-bottom: 0.3em solid #bbff84;
}
ul {

	margin: 0 auto;
}
.car {
	display: none;
	position: absolute;
	left: 42%;
	bottom: 120%;
	width: 1em;
}
li {
	position: relative;
	display: inline-block;
	font-size: 2.5em;
	list-style-type: none;
	background-color: #ffcd7f;
	border: 0.1em solid black;
	margin-top: 0.5em;
	margin-right: 0.3em;
	width: 8em;
	height: 1.2em;
	-webkit-border-radius: 0.5em;
	-webkit-box-shadow: rgb(110,110,110) 10px 10px 10px;
	-webkit-transition: width 1s, background-color 1s;
}
li:hover {

	width: 9em;
	background-color: #1ec7e6;
}
li a {
	display: block;
	text-decoration: none;
	color: black;
}

li a:hover, footer a:hover {
	color: white;
}
li:hover .car {
	display: block;
}

/*index----------------------------------------------------------------------------------*/
h1 {
	margin: 0 auto;
	margin-top: 0.3em;
	font-size: 3em;
	direction: ltr;
	color: #E86B0C;
	margin-bottom: 0.1em;
	width: 50%;
	background-color: #FFA10D;
	font-size: 3em;
	font-weight: bold;
	-webkit-border-radius: 0.5em;
}
#car-share {
	width: 30%;
	margin-bottom: 1em;
	margin-bottom: 1.5em;
}

/*search and advertising form----------------------------------------------------------------------------------*/
.search-adv-form {

	position: relative;
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 2em;
	padding: 0.2em 0;
	font-size: 2em;
	font-weight: bold;
	text-align: right;
	background-color: #ccc;
	width: 50%;
	-webkit-box-shadow: rgb(110,110,110) 10px 10px 10px;
}
.search-adv-form img {
	display: block;
	position: absolute;
	top: 10%;
	left: 5%;
	width: 30%;
}

table#table {

	margin-top: 0.1em;
	margin-bottom: 1.5em;
	width: 80%;
	font-size: 2em;
	border: none;
	border-collapse: collapse;
}

#results {
	color: white;
	margin: 0 auto;
	margin-bottom: 0.1em;
	width: 30%;
	background-color: #C48251;
	font-size: 3em;
	font-weight: bold;
}

table#table th {
	
	background-color: #CC510A;
	border-bottom: 0.1em solid black;
}

table#table tr {
	background-color: #CC870A;
	line-height: 1.5em;
}
table#table td {
	border-bottom: 0.1em solid #b1b6ff;
}
table#table tr:hover {
	background-color: #CC5153;
}
form#instant-message:hover, form.search-adv-form:hover, div#about:hover {
	background: #1EC7E6;
}
.search-adv-form div label {
	width: 4em;
}
div label {
	float: right;
	text-align: left;
	clear: right;
	margin-left: 0.8em;
}
div span {
	font-size: 0.8em;
}
select, input {

	text-align: right;
}
#button {
	margin-right: 4.5em;
}
/*contact form----------------------------------------------------------------------------------*/

form#instant-message {
	position: relative;
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding-top: 0.5em;
	font-size: 2em;
	font-weight: bold;
	line-height: 1.5em;
	background-color: #ccc;
	width: 50%;
	text-align: right;
	-webkit-box-shadow: rgb(110,110,110) 10px 10px 10px;
}

form#instant-message div label {
	width: 8em;
}
#third_label {
	margin-top: 0.5em;
}
#mail {
	float: left;
	font-size: 0.8em;
	font-weight: bold;
	margin-left: 0.5em;
	color: #808080;
}
#send-button {
	margin-right: 8.5em;
}

footer {
	width: 100%;
	height: 1em;
	border-top: 0.1em solid gray;
	position: fixed;
	bottom: 0px;
	background-color: #ffcd7f;
	color: black;
	font-size: 1.5em;
}
footer a {
	color: black;
}
/*about----------------------------------------------------------------------------------*/
div#about {

	width: 60%;
	background-color: #ccc;
	display: inline-block;
	margin-top: 2em;
	font-size: 1.5em;
	font-family: Arial;
	line-height: 1.5em;
	-webkit-box-shadow: rgb(110,110,110) 10px 10px 10px;
}
div#about h3 {
	text-decoration: underline;
}
tr td:focus
	height:5em;
}
